h1  {
    font-size: 2.7em;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;

    color: #222325;
    text-align:center;
}
h2 {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.2em;
    color: #222325;
}

nav {
    background-color: black ;
    color: #FFFFFF;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 40px;
}
footer {
    background-color: #2c3e50;
    color: #FFFFFF;
    text-align: center;
    font-size: x-small;
    margin-top: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    padding-top: 5px;
    padding-bottom: 5px;
    clear: both;
}
body {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 200;
    background-color:#bdc3c7;
    background-image: url(../images/portlethenharbour.jpg);
    background-size: cover;
    background-attachment: fixed;
}

#page {
    background-color: #2c3e50;
    color: #FFFFFF;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 40px;
}

#title{

    text-align:center;

    margin-top: 20px;

}

#explore{

    text-align:center;

    margin-top: 20px;

}
.sectionRight {
    width: 45%;
    margin-left: 2.5%;
    margin-right: 5%;
    float: right;
    padding-top: 2.5%;
    padding-right: 2.5%;
    padding-bottom: 2.5%;
    padding-left: 2.5%;
    margin-top: 20px;
    margin-bottom: 20px;
}.sectionFull {
     width: 65%;
     margin-left: 15%;
     margin-right: 15%;
     float: right;
     background-color: #2c3e50;
     padding-top: 2.5%;
     padding-right: 2.5%;
     padding-bottom: 2.5%;
     padding-left: 2.5%;
     margin-top: 20px;
     margin-bottom: 20px;
     color:#FFFFFF;
 }
#header {
      text-align: center;
  }
a {
    color: #FFFFFF;
    text-decoration: none;
}
.navHome {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    margin-left: 2%;
    margin-right: 2%;
    padding-top: 50px;

}
.navAbout {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    margin-left: 2%;
    margin-right: 2%;
    padding-top: 50px;

}
.navPort {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    margin-left: 2%;
    margin-right: 2%;
    padding-top: 50px;

}
.navContact {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    margin-left: 2%;
    margin-right: 2%;
    padding-top: 50px;

}
.navHome:hover {
    background-position: 0px;
    color: #7f8c8d;
}
.navAbout:hover {
    background-position: 0px;
    color: #7f8c8d;
}
.navPort:hover {
    background-position: 0px;
    color: #7f8c8d;
}
.navContact:hover {
    background-position: 0px;
    color: #7f8c8d;
}

/* contact css */

#contact {
    margin-left: 5%;
    margin-right: 5%;
    background: #DDD;
    margin-top:140px;}

.container {width:960px;
    height:auto; margin: 0 auto;
    padding: 50px 0;}

#contact .container form input,
#contact .container form textarea {
    width:97.4%;
    height:30px;
    padding:5px 10px;
    font-size: 12px;
    color:#999;
    letter-spacing:1px;
    background: #FFF;
    border:2px solid #FFF;
    margin-bottom:25px;
    -webkit-transition:all .1s ease-in-out;
    -moz-transition:all .1s ease-in-out;
    -ms-transition:all .1s ease-in-out;
    -o-transition:all .1s ease-in-out;
    transition:all .1s ease-in-out;}

#contact .container form input:focus,
#contact .container form textarea:focus {
    border:2px solid #dd4545;
    color:#999;}

#contact .container form textarea {
    height:150px;}

#contact .container form .submit {
    width:100%;
    padding:5px 10px;
    font-size: 12px;
    letter-spacing:1px;
    background:#dd4545;
    height:40px;
    text-transform:uppercase;
    letter-spacing:1px;
    color:#FFF;
    border:2px solid #b43838;
    -webkit-transition:all .1s ease-in-out;
    -moz-transition:all .1s ease-in-out;
    -ms-transition:all .1s ease-in-out;
    -o-transition:all .1s ease-in-out;
    transition:all .1s ease-in-out;}

#contact .container form .submit:hover {
    color:#FFF;
    border:2px solid #dd4545;
    background: #b43838;
    cursor:pointer;}

#contact .container form .required {
    color:#b43838;}
/* End of contact */

#title{
    text-align:center;
    margin-top:50px;
}

